html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.flex-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

nav {
  position: relative;
  z-index: 1000;
}
.carousel {
  z-index: 1;
}

.carousel {
  margin-top: 64px; /* or adjust based on your nav height */
}

main.content {
  margin-top: 64px; /* adjust to the navbar's height */
  flex: 1;
}
